<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAVER_API_KEY</key>
	<string>$(NAVER_API_KEY)</string>
	<key>NAVER_CLIENT_ID</key>
	<string>$(NAVER_CLIENT_ID)</string>
	<key>NAVER_CLIENT_SECRET</key>
	<string>$(NAVER_CLIENT_SECRET)</string>
	<key>NMFNcpKeyId</key>
	<string>$(NMF_NCP_KEY_ID)</string>
	<key>SUPABASE_PROJECT_ID</key>
	<string>$(SUPABASE_PROJECT_ID)</string>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
</dict>
</plist>
