//
//  Secrets.example.xcconfig
//  Meomun
//
//  Created by 송지연 on 12/22/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// 복사해서 Secrets.xcconfig로 만들고 실제 키를 넣어주시면 됩니다

// Supabase 프로젝트 Ref 및 Anon Key
SUPABASE_PROJECT_REF = YOUR_PROJECT_REF
SUPABASE_ANON_KEY = YOUR_ANON_KEY_HERE

// 네이버 맵 클라이언트 키
NMF_NCP_KEY_ID = PUT_YOUR_KEY_HERE
